﻿body {
}

#minimizeImage 
{
    z-index: 2001;
    position: absolute;
	top:0px;
	right: 590px;
}

#minimizeImage:hover
{
    z-index: 2001;
    position: absolute;
	top:0px;
	right: 590px;
	background-color: Red;
}
