﻿body 
{
    background-image:  url("Images/BackgroundTexture.png");
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.unselect 
{
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

#overlay 
{
    width: 100%;
    height: 100%;
    position: absolute;
	top:0px;
	left: 0px;
	opacity: 0.6;
	background-color: Black;
	visibility: visible;
	text-align: center;
	z-index: 2;
}

#intro 
{
    width: 1000px;
    position: absolute;
    top:0px;
    margin: auto;
    font-family: Arial;
	color: white;
	opacity: 1;
	z-index: 3;
	padding: 5px;
}

#gameCanvas 
{
    z-index: 1;
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
}

#upgradeScreen 
{
    background-color: Black;
	opacity: 0.95;
	width: 1000px;
	height: 800x;
	text-align: center;
	color: #00FFFF;
	font-family: 'Lucida Console', Monaco, monospace;
	border-radius: 10px;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
		z-index: 666;
}

.upgradeTable 
{
    width: 100%;
    height: 100%;
    border: none;
}

.tableCellOver 
{
    background-color: #327E7A;
    cursor: pointer;
    border-radius: 5px;
}

.tableCellOut 
{
    background-color: none;
	border-radius: 5px;
}

#finishUpgradeButton 
{
    background-color: #224745;
    border: 1px solid #00FFFF;
    color: #00FFFF;
    font-family: 'Lucida Console', Monaco, monospace;
}

td 
{
    border: 1px solid #00FFFF;
}

#test 
{
    top: 10px;
    left: 10px;
    position: absolute;
}